<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>...shh</title>
</head>
<body>
<iframe frameborder="0" style="border:lightpink;width:50%;height:700px;" width="50%" height="700"
        src="https://music.yandex.ru/iframe/playlist/igor.sgride/3">Слушайте <a href='https://music.yandex.ru/users/igor.sgride/playlists/3'>Плэйлист Шамана</a>
    — <a href='https://music.yandex.ru/users/igor.sgride'>Игорь</a> на Яндекс Музыке</iframe>


</body>
</html>